/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrar en pantalla */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

/* Contenedor */
.container {
    width: 400px;
    height: 300px;
    background-color: #1f2a99;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Elementos */
.item {
    width: 60px;
    height: 60px;
    justify-self: center;
    align-self: center;
}

/* Cuadrado */
.square {
    background-color: #79c6d0;
}

/* Círculo */
.circle {
    background-color: #d25aa5;
    border-radius: 50%;
}

/* POSICIONES */

/* Fila 1 */
.item:nth-child(1) { grid-column: 1; grid-row: 1; }
.item:nth-child(2) { grid-column: 2; grid-row: 1; }
.item:nth-child(3) { grid-column: 3; grid-row: 1; }
.item:nth-child(4) { grid-column: 4; grid-row: 1; }

/* Fila 2 */
.item:nth-child(5) { grid-column: 1; grid-row: 2; }
.item:nth-child(6) { grid-column: 2; grid-row: 2; }
.item:nth-child(7) { grid-column: 3; grid-row: 2; }
.item:nth-child(8) { grid-column: 4; grid-row: 2; }
