/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrado en viewport */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

/* Contenedor EXACTO */
.container {
    width: 400px;
    height: 300px;
    background-color: #1f2a99;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: 25px; /* importante para separar de bordes */
}

/* Elementos */
.item {
    width: 60px;
    height: 60px;
}

/* Formas */
.square {
    background-color: #79c6d0;
}

.circle {
    background-color: #d25aa5;
    border-radius: 50%;
}

/* POSICIONAMIENTO EXACTO */

/* Fila 1 */
.item:nth-child(1) {
    justify-self: start;
    align-self: start;
}

.item:nth-child(2) {
    justify-self: start;
    align-self: start;
}

.item:nth-child(3) {
    justify-self: end;
    align-self: start;
}

.item:nth-child(4) {
    justify-self: end;
    align-self: start;
}

/* Fila 2 */
.item:nth-child(5) {
    justify-self: start;
    align-self: end;
}

.item:nth-child(6) {
    justify-self: start;
    align-self: end;
}

.item:nth-child(7) {
    justify-self: end;
    align-self: end;
}

.item:nth-child(8) {
    justify-self: end;
    align-self: end;
}
