/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrar en pantalla */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

/* Contenedor */
.container {
    width: 400px;
    height: 300px;
    background-color: #1f2a99;
    padding: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Elementos */
.item {
    width: 55px;
    height: 55px;

    justify-self: center;
    align-self: center;
}

/* Formas */
.square {
    background-color: #79c6d0;
}

.circle {
    background-color: #d25aa5;
    border-radius: 50%;
}

/* Fila 1 */
.item:nth-child(1) {
    grid-column: 1;
    justify-self: start;
    align-self: start;
}

.item:nth-child(2) {
    grid-column: 2;
    justify-self: start;
    align-self: start;
}

.item:nth-child(3) {
    grid-column: 4;
    justify-self: end;
    align-self: start;
}

.item:nth-child(4) {
    grid-column: 5;
    justify-self: end;
    align-self: start;
}

/* Fila 2 */
.item:nth-child(5) {
    grid-column: 1;
    justify-self: start;
    align-self: end;
}

.item:nth-child(6) {
    grid-column: 2;
    justify-self: start;
    align-self: end;
}

.item:nth-child(7) {
    grid-column: 4;
    justify-self: end;
    align-self: end;
}

.item:nth-child(8) {
    grid-column: 5;
    justify-self: end;
    align-self: end;
}
